@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
	font-family: 'Montserrat', sans-serif;

}

p {
	font-size: 15px;
}

h1, h2, h3 {
	color: #fbb03b;
	font-weight: 500;
}

li {
	font-size: 15px;
}

.container {
	width: 95%;
	height: 100%;
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.logo {
	grid-area: logo;
	display: flex;

	/* align-items: flex-start;
	flex-flow: wrap;
	align-content: space-round; */
}

.logo-header {
	font-size: 50px;
	margin-left: 15px;
}

.dog-quote {
	margin-left: auto;
}

.header {
	grid-area: header;
	font-size: 2em;
	border-bottom: 1px solid black;
}

/* NAVBAR */
.navbar {
	grid-area: navbar;
	border-top: 1px solid #333;
	padding: 10px 5px 10px 5px;
	display: flex;
	align-items: flex-start;
	flex-flow: wrap;
	align-content: space-around;
	gap: 1%;
	/*
	position: sticky;
	top: 0;
	background-color: white;
	background: linear-gradient(135deg, #033153, #e8b6d9);
	*/
}

.navbar a {
	text-decoration: none;
	color: #fbb03b;
}

a:hover {
	color: black;
}

.contact-info {
	margin-left: auto;
	font-size: 12px;
	color: #fbb03b;
}

.rolling-images {
	grid-area: rollingImages;
}

/* TEXTS */
.text-one {
	grid-area: textOne;
}

.text-two {
	grid-area: textTwo;
}

.text-three {
	grid-area: textThree;
}

/* IMAGES */
.image-one {
	grid-area: image;
}

.image-two {
	grid-area: imageTwo;
}

.max {
	height: 100%;
	width: 100%;
}

.logo-image {
	height: 200px;
}

/* .logo-header {
	display: inline;
	top: 0;
} */

.main-image {
	width: 336px;
}


/* FOOTER */
.footer {
	grid-area: footer;
	padding: 10px 5px 10px 5px;
	gap: 2%;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	border-top: 1px solid black;
	margin-top: 15px;
}

.contact-footer,
.navigate-footer,
.times-footer,
.copyright-footer {
	/* text-align: center; */
	font-size: 12px;
	padding: 1%;
	line-height: 18px;
}

.contact-footer,
.navigate-footer {
	border-right: 1px solid #fbb03b;
}

.navigate-footer a {
	/* text-decoration: none; */
	color: black;
}


.copyright-footer {
	align-items: stretch;

}


/* TABLETS */
@media screen and (max-width: 1025px) {
	.logo-image {
		width: 100%;
	}

	.image {
		height: 100%;
	}

	h2 {
		font-size: 1.7em;
	}

	a {
		font-size: 20px;
	}

}

/* MOBILES */
@media screen and (max-width: 767px) {
	.logo-image {
		width: 100%;
	}

	.footer {
		grid-template-columns: repeat(1, 1fr);
		padding: 0;
		margin-top: 10px;
	}

	h1 {
		font-size: 1em;
	}

	p {
		font-size: 12px;
	}
}
