.container {
	grid-template-rows: 200px 50px 1000px 100px auto;
	grid-template-areas:
	  "logo logo logo logo"
	  "navbar navbar navbar navbar"
	  "rollingImages rollingImages rollingImages rollingImages"
	  "header header header header"
	  "textOne textOne image image"
	  "textTwo textTwo imageTwo imageTwo"
	  "textThree textThree imageThree imageThree"
	  "footer footer footer footer";
}

.text-one,
.image-one,
.text-two,
.image-two {
	margin-top: 15px;
}

.image-one,
.text-one {
	border-bottom: 1px solid black;
}

.text-two {
	border-bottom: 1px solid black;
}

.image-one {
	border-bottom: 1px solid black;
}

.image-two {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.image-three {
	grid-area: imageThree;
	border-top: 1px solid black;
}

.text-two,
.image-two {
	margin-bottom: 15px;
}

.text-one,
.text-two,
.text-three {
	font-size: 55px;
	text-align: center;
}

.text-two,
.text-three {
	border-top: 1px solid black;
}

.main-image-one {
	margin-bottom: 15px;
}

.main-image-one,
.main-image-two,
.main-image-three {
	width: 336px;
}

.main-image-two,
.main-image-three {
	margin-top: 15px;
}

/* Tablets */
@media screen and (max-width: 1025px) {
	.container {
		grid-template-rows: auto auto 550px;
		grid-template-areas:
		"logo logo logo logo"
		"navbar navbar navbar navbar"
		"rollingImages rollingImages rollingImages rollingImages"
		"header header header header"
		"textOne textOne image image"
		"textTwo textTwo imageTwo imageTwo"
  	  	"textThree textThree imageThree imageThree"
		"footer footer footer footer";
	}
}

/* Mobile phones */
@media screen and (max-width: 767px) {
	.container {
		grid-template-rows: auto auto 250px;
		grid-template-areas:
		"logo logo logo logo"
		"navbar navbar navbar navbar"
		"rollingImages rollingImages rollingImages rollingImages"
		"header header header header"
		"textOne textOne textOne textOne"
		"image image image image"
		"textTwo textTwo textTwo textTwo "
		"imageTwo imageTwo imageTwo imageTwo"
		"textThree textThree textThree textThree"
		"imageThree imageThree imageThree imageThree"
		"footer footer footer footer";
	}

	.text-one,
	.text-two,
	.text-three {
		font-size: 30px;
	}

	.image-one,
	.text-one,
	.text-two,
	.image-two {
		border-bottom: none;
	}

	.image-two,
	.image-three {
		border-top: none;
	}
}
