.container {
	grid-template-rows: 200px 50px 1000px 100px auto auto 200px;
	grid-template-areas:
	  "logo logo logo logo"
	  "navbar navbar navbar navbar"
	  "rollingImages rollingImages rollingImages rollingImages"
	  "header header header header"
      "textOne textOne textOne textOne"
	  "contact contact contact contact"
	  "footer footer footer footer";
}

#contact-form {
    grid-area: contact;
}

form {
	box-sizing: border-box;
	 /* display: flex;
	justify-content: center;
	align-items: center; */
	border-top: 1px solid black;
	padding: 10px;
}

.container form .details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
	font-size: 15px;
}

form .details .input {
	margin-bottom: 15px;
	width: calc(100% / 2 - 15px);
}

.details .input .name {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.details .input input,
textarea {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}


.details .input input:focus,
.details .input input:valid,
.details .input textarea:focus,
.details .input textarea:valid {
	border-color: #fbb03b;;
}

form .submit {
	height: 45px;
	margin: 45px 0;
}

form .button input {
	height: 45px;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background-color: #fbb03b;
	/* background: linear-gradient(135deg, #033153, #e8b6d9); */
}

textarea {
	width: 100%;
    height: 150px;
	resize: none;
	padding-top: 15px;
	font-size: 15px;
}

.text-one {
	margin-top: 15px;
	margin-bottom: 30px;
}

/* TABLETS */
@media screen and (max-width: 1025px) {
	.container {
		grid-template-rows: auto auto 550px;
		grid-template-areas:
		"logo logo logo logo"
		"navbar navbar navbar navbar"
		"rollingImages rollingImages rollingImages rollingImages"
		"header header header header"
		"textOne textOne textOne textOne"
		"contact contact contact contact"
		"footer footer footer footer";
	}
}

/* MOBILES */
@media screen and (max-width: 767px) {
	.container {
		grid-template-rows: auto auto 250px;
		grid-template-areas:
		"logo logo logo logo"
		"navbar navbar navbar navbar"
		"rollingImages rollingImages rollingImages rollingImages"
		"header header header header"
		"textOne textOne textOne textOne"
		"contact contact contact contact"
		"footer footer footer footer";
	}
}
